.cuerpo{
    display: block;
}
h1{
    margin: 20px auto;
    text-align: center;
    letter-spacing: 1px;
    font-size: 32px;
}

.cuerpo__fila{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    max-width: 1110px;
    margin: 10px auto;
}
.cuerpo__fila:nth-child(3){
    background-color: var(--color-quinto);
    color: #fff;
}
.cuerpo__fila:nth-child(3) h3{
    color: #fff;
}
.cuerpo__fila .fila__columna{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}
.cuerpo__fila .fila__columna:nth-child(2){
padding: 10px;
}
.cuerpo__fila:nth-child(2){
    flex-direction: row;
}
.columna__tema{
    display: block;
    margin: 20px auto 0 auto;
}
 hr{
    width: 100%;
    max-width: 120px;
    margin: 10px auto 20px auto;
    border: 1px solid var(--color-cuarto);
}
.cuerpo__subtitulo hr{
    margin: 10px auto;
}
.columna__tema h3{
    color: var(--color-quinto);
    text-align: center;
    font-size: 22px;
}

h2{
    color: var(--color-quinto);
    margin-top: 20px;
    text-align: center;
}
.columna__contenido{
    width: 100%;
    max-width: 700px;
}
.cuerpo__presentaciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cuerpo__presentaciones .fila__columna{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.cuerpo__presentaciones .fila__columna:nth-child(2){
flex-flow: row-reverse wrap;
}
.fondo-morado{
    background-color: var(--color-quinto);
    max-width: 1110px !important;
}
.fondo-morado .contenido{
    color: #fff;
}
.imagen__scar-md{
    width: 100%;
    max-width: 300px;
}
.imagen__scar-md img{
    width: 100%;
}
.columna__contenido{
    max-width: 550px;
}
.contenido{
    font-size: 16px !important;
    text-align: justify;
    padding: 10px;
}
.fila__columna iframe{
    width: 100%;
    height: 400px;
}
.oferta{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    height: auto;

}
.oferta__general{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 1400px;
    margin: 30px auto 0 auto;
}
.oferta__general  .fila:nth-child(1){
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.oferta__general .fila:nth-child(1) iframe{
    width: 100%;
    max-width: 700px;
    height: 400px;
}
.oferta__general .fila:nth-child(2){
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;

}
.oferta__general .fila:nth-child(2) .mensaje-imagen{
    width: 100%;
    max-width: 500px;
    height: 306px;
}
.mensaje-imagen img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    transform: rotate(270deg);
}
.clip{
    height: 306px;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 4;
}
.clip-derecho{
    background:linear-gradient(-270deg, #5f545d 45%, #7a6c78dc 80%, #ffffff 120%) ;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transform: rotate(-270deg);
    margin-top: -90px;
}
.clip-izquierdo{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background:linear-gradient(-270deg, #5f545d 45%, #7a6c78dc 80%, #ffffff 120%) ;
    transform: rotate(270deg);
    margin-bottom: -80px;
}
.clip .parrafo{

    margin: 0 auto;
    width: 70%;
    color: #fff;
    text-align: center;
    transform: rotate(-270deg);
}
.clip-derecho .parrafo{
    transform: rotate(270deg);

}
@media(min-width:750px){
    .columna__tema{
        padding: 0 10px;
        margin-left:  0;
    }
    h3{
        text-align: left;
    }
    .columna__tema hr{
        margin: 10px auto 20px 0;
    }
    .clip{
        transform: rotate(0);
    }
    .clip-derecho{
        margin-top: 0;
        background:linear-gradient(270deg, #5f545d 45%, #7a6c78dc 80%, #ffffff 120%) ;

    }
    .clip-izquierdo{
        margin-right: -100px;
        margin-bottom: 0;
        background:linear-gradient(290deg, #5f545d 45%, #7a6c78dc 80%, #ffffff 120%) ;

    }
    .clip .parrafo{
        width: 50%;
        transform: rotate(0);

    }
    .clip-derecho .parrafo{
        transform: rotate(0deg);

    }
    .mensaje-imagen img{
        transform: rotate(0deg);
        z-index: -1;

    }
}