.slider-contenedor {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  /* margin: auto; */
}

.miSlider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
}
.miSlider::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #2e2e2e4f;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
.imagenes-contenido {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.subtitulo-banner {
  font-size: 18px;
  color: #f1f1f1 !important;
  font-style: italic;
  text-align: center;
  text-transform: capitalize !important;
}
.subtitulo-banner-tienda {
  font-size: 2.5rem;
  color: #f1f1f1 !important;
  font-style: italic;
  text-align: center;
  max-width: 600px;
}
.imagenes-contenido .parrafo {
  color: #f1f1f1 !important;
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.imagenes-contenido hr {
  color: #f1f1f1 !important;
  width: 85px;
  margin-bottom: 25px;
}
.botones {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  z-index: 4;
  justify-content: center;
}
.boton {
  text-decoration: none;
  padding: 10px 10px;
  color: #f1f1f1 !important;
  transition: background 0.5s ease;
  backdrop-filter: blur(10px);
  z-index: 9;
  cursor: pointer;
  font-size: 14px;
}
.boton:nth-child(1) {
  border: 2px solid var(--color-sexto);
}
.boton:nth-child(1):hover {
  background: rgba(214, 214, 214, 0.397);
}
.boton:nth-child(2) {
  backdrop-filter: blur(0px);
  color: #41153994;
  font-weight: bold;
  position: relative;
}
.boton:nth-child(2)::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 3px;
  z-index: 2;
}
.boton:nth-child(2)::before {
  position: absolute;
  content: "";
  bottom: 3px;
  right: 0;
  width: 3px;
  height: 20px;
}
.boton:nth-child(2):hover {
  background: #49194094;
}

.miSlider img {
  width: 100%;
  max-height: 100vh;
  height: 700px;
  object-fit: cover;
  vertical-align: top;
  transition: 2s;
  animation: scale 48s linear;
}
.direcciones {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.direcciones a {
  color: #fff;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 40px !important;
}
.direcciones a:hover {
  background: #a0879c94;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.barras {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  z-index: 9;
  column-gap: 5px;
}
.barra {
  cursor: pointer;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  background: #dcdde1;
  margin-left: 3px;
}
.barrita {
  cursor: pointer;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  background: #dcdde1;
  margin-left: 3px;
}
.active {
  background: var(--color-quinto) !important;
}
.active2 {
  background: var(--color-quinto) !important;
}
.fade {
  animation: fade 1s;
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.columna-contenido .parrafo {
  color: #fff;
}
.columna-contenido b {
  color: #5dc3bd;
}

.columna-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 80%;
  margin:  80px auto 0 auto;
  height: 80%;
}
.columna1-cuerpo {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 10px;
}
.columna2-cuerpo {
  width: 100%;
  max-width: 350px;
  height: 200px;
}
.columna2-cuerpo img {
  margin-top: -20px;
  width: inherit;
  height: 200px !important;
  object-fit: fill;
  animation: none;
}
.grupo-botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.grupo-botones a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.boton-exclusivo {
  background: linear-gradient(rgba(7, 141, 136, 0.9), rgba(0, 40, 71, 0.8));
  color: #fff;
}
.boton-exclusivo:hover {
  background: linear-gradient(rgba(11, 185, 180, 0.9), rgba(2, 71, 124, 0.8));
  transition: 0.5s ease;
}
.boton-consulta {
  border: 2px solid #ffffff !important;
  color: #ffffff;
}
.boton-consulta:hover {
  border: 2px solid #585858 !important;
  background: rgba(128, 128, 128, 0.329);
  color: #ffffff;
}

.columna1-cuerpo .parrafo{
color: #Fff;
text-align: center;
font-size: 16px;
line-height: 1.4;
}
.encabezado-c1 b{
  font-size: 20px;
}
.encabezado-c1 hr{
  width: 100%;
  max-width: 120px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
@media (min-width: 750px) {
  .slider-contenedor {
    height: 900px;
  }
  .miSlider img {
    height: 100vh;
  }
  .subtitulo-banner {
    font-size: 54px;
  }
  .imagenes-contenido hr {
    background-color: #f1f1f1;
    height: 5px;
  }
  .imagenes-contenido .parrafo {
    width: 90%;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .botones {
    gap: 20px;
  }
  .boton {
    font-size: var(--boton);
  }
  .subtitulo-banner-tienda {
    max-width: 600px;
  }
  .direcciones a {
    padding: 20px;
  }

  .slider-secundario {
    height: 400px;
  }
  .miSlider-secundario img {
    height: inherit;
    width: 100%;
  }

  .imagenes-contenido-secundario {
    align-items: center;
    height: 400px;
  }
  .imagenes-contenido-secundario .parrafo {
    font-size: 20px;
  }
  .columna-contenido b {
    font-size: 26px;
  }
  .imagenes-contenido-secundario .columna1 .columna-contenido .parrafo {
    text-align: left;
    margin: 15px 0;
  }
  .logo-scar-p {
    justify-content: flex-start;
  }
  .columna1-cuerpo {
    align-items: flex-start;
  }
  .columna1-cuerpo .parrafo{
    text-align: left;
    font-family: 'Playfair Display',sans-serif;

  }
  .encabezado-c1 hr {
    margin-left: 0;
  }
  .encabezado-c1 .parrafo {
    color: #fff;
    text-align: left;
    font-size: 42px;
    font-weight: bold;
  }
  .parrafo b {
    font-weight: bold;
    font-size: 42px;

  }
  .clinicamente {
    color: #fff;
    font-size: 14px;
    text-align: left;
  }
  .grupo-botones{
    justify-content: flex-start;
  }
  .columna2-cuerpo {
    width: 100%;
    max-width: 450px;
    height: 400px;
  }
  .columna2-cuerpo img {
    margin-top: -20px;
    width: inherit;
    height: 400px !important;
    object-fit: fill;
    animation: none;
  }
}
@media (min-width: 1100px) {
  .subtitulo-banner-tienda {
    max-width: 1000px;
  }
  .miSlider .imagenes-contenido {
    max-width: 630px !important;
  }
  .miSlider .imagenes-contenido .subtitulo-banner {
    font-size: 38px !important;
  }
}
