@import url(variables_generales.css);
.cabecera-principal{
    width: 100%;
    max-height: 100vh;
}
.contacto{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background: var(--color-primario);
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}
.contacto__general{
    display: none;
    flex-flow: row wrap;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    justify-content: center;
    gap: 10px;
}
.contacto__general .span{
    display: none;
    font-size: var(--parrafo-cuerpo);

}
.contacto__general i{
    color: var(--color-sexto);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.contacto__general i .span{
    color: var(--color-sexto);
    font-size: var(--parrafo-cuerpo);
    letter-spacing: 1px;
    font-family: poppins,'san-serif';
    display: block;
}
.contacto__redes{
    display: none;
}
.contacto__redes .span{
    display: none;
}




@media(min-width: 1160px){
    .contacto{
        display: flex;
    }
    .contacto__general{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    .contacto__general i{
        text-align: left;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 14px;
    }
    .contacto__general i .span{
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;

    }
    .contacto-datos{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .cabecera-principal{
        height: 900px;
    }
    .contacto__redes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .contacto__redes .span{
        display: block;
        color: #fff;
        font-size: 14px;
    }
    .redes__iconos{
        display: flex;
        gap: 10px;
        margin-left: 5px;
    }
    .redes__iconos .fab{
        color: #fff !important;
        cursor: pointer;
        font-size: 18px !important;
        transition: .5s ease all;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
    }
    .redes__iconos .fab:nth-child(1){
        padding: 5px 8px;
    }
    .redes__iconos .fab:hover{
        color: rgb(235, 235, 235) !important;
        transform: scale(1.2);
        background: var(--color-quinto);
    }
 
    .redes__iconos .fab{
        color: var(--color-sexto);
        font-size: var(--parrafo-cuerpo);
    }
}